version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      - VITE_AUTH_API_URL=http://backend:4000/api
      - VITE_ANALYSIS_API_URL=http://model_service:5001
    depends_on:
      - backend
      - model_service
    networks:
      - virtual-therapist

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "4000:4000"
    environment:
      - ANALYSIS_SERVICE_URL=http://model_service:5001
    networks:
      - virtual-therapist

  model_service:
    build:
      context: ./model_service
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - FRONTEND_ORIGIN=http://localhost:3000
      - HYBRID_PYTORCH_PATH=/app/model/hybrid_model.pth
      - HYBRID_XGB_PATH=/app/model/xgboost_classifier.json
    volumes:
      - ./model_service/model:/app/model
    networks:
      - virtual-therapist

networks:
  virtual-therapist:
    driver: bridge
